<div class="navbar-site" [ngClass]="{'black': currentPath === 'main', 'white': currentPath !== 'main'}">
    <div class="logo">
        <img [src]="logoUrl" alt="logo-navbar">
    </div>
    <button *ngIf="showButton" class="ambiente-button" (click)="redirectToMain()">
        <img src="assets/logout.svg" alt="sair" class="button-icon"/>Trocar de ambiente</button>
    <div class="grupo-usuario-sair" [ngClass]="{'text-color-white': currentPath === 'main', 'text-color-blue': currentPath !== 'main'}">
        <div class="data-calendario">
            <img src="assets/calendar.svg" alt="calendar">
            <p>{{ hoje | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="notificacao">
            <img src="assets/line.svg" alt="line">
            <img src="assets/notification.svg" alt="notification" class="icon-notification">
            <img src="assets/line.svg" alt="line">
        </div>
        <div class="foto-usuario"><img src="assets/avatar.svg" alt="avatar"></div>

        <div class="btn-sair" (click)="sair()"><img src="assets/btn-sair.svg" alt="btn-sair"> </div>
    </div>
</div>
