.black {
    background: #252323;
  }
  
.white {
    background: #FFFFFF
}

.navbar-site{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
   
    .logo{
        height: 56px;
        width: 120px;
        margin: 8rem;
    };
    
    .text-color-blue{
      color: #7183A6;      
    }
    .text-color-white{
      color: #E4EBFB;
    }
    
    .ambiente-button{
      background-color: transparent;
      border: 1px solid #7183A6;
      padding: 8px 16px;
      border-radius: 8px;
      color: #7183A6;      
    }
    .ambiente-button:hover{
      cursor: pointer;
      filter: brightness(0.8);
      transition: filter 0.3s;
    }

    .grupo-usuario-sair{
        margin-left: auto;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .data-calendario{
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        };

        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            margin-left: 0.5rem;
        }
    
    
        .notificacao{
          margin-left: 1rem;
          margin-right: 2rem;
          .icon-notification{
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }

        .foto-usuario{
            border-radius: 100%;
        }

        .btn-sair{
            height: 40px;
            width: 50px;
            margin-right:3rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: cursive;
        }
    }
}