
<div class="group-material-didatico">
    <app-navbar></app-navbar>
    <div class="div-banner">
        <img src="assets/banner.svg" alt="youtube" class="banner" class="banner">
    </div>
    <div class="div-carrossel">
        <div>
            <div class="header-carrossel">
                <p class="texto-carrossel">Semana 06/02 até 28/02</p>
                <img src="assets/arrow.png"/>
                <img src="assets/arrow.png" class="icon-reverse"/>
                <button class="button-ver-conteudo" (click)="goList()">Ver todo conteúdo</button>
            </div>
            <div>
                <h3 class="carrossel-title">Material didático</h3>
                <p class="carrossel-subtitle">Acesse suas últimas apresentações de aula</p>
            </div>
            <div class="carrossel-flex">
                <ng-container *ngFor="let design of designs">
                    <a [href]="'https://editor.trakto.io/presentation/p/' + design.id" target="_blank">
                        <div class="block-design">
                            <img class="image-carrossel" [src]="design.cover.medium"/>
                            <p>
                                {{design.title}}
                            </p>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="div-carrossel">
        <div>
            <div class="header-carrossel">
                <p class="texto-carrossel">Semana 06/02 até 28/02</p>
                <img src="assets/arrow.png"/>
                <img src="assets/arrow.png" class="icon-reverse"/>
                <button>Ver todo conteúdo</button>
            </div>
            <div>
                <h3 class="carrossel-title">Vídeo aulas</h3>
                <p class="carrossel-subtitle">Complemente os estudos assistindo o conteúdo de forma dinâmica.</p>
            </div>
            <div class="carrossel-flex">
                <ng-container *ngFor="let design of designs">
                    <a [href]="'https://editor.trakto.io/presentation/p/' + design.id" target="_blank">
                        <div class="block-design">
                            <img class="image-carrossel" [src]="design.cover.medium"/>
                            <p>
                                {{design.title}}
                            </p>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>
