.group-material-didatico {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;

  .div-banner {
    // background-color: black;
    display: flex;
    max-width: 90vw;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;

    .banner {
      width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      // padding: 0 3rem;
      align-items: center;
      justify-content: center;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      .banner {
        width: 90%;
      }
    }
  }

  .div-carrossel {
    background-color: #FFFFFF;
    display: flex;
    max-width: 90vw;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    // padding: 2rem;
    font-family: 'Roboto';

    .header-carrossel {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      margin-right: 2rem;

      .texto-carrossel {
        width: max-content;
        padding: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        color: #7183A6;
        background: #E4EBFB;
        border-radius: 8px;
        margin-right: 1rem;
      }

      .icon-reverse {
        transform: rotate(180deg);
        margin: 1rem;
      }

      .button-ver-conteudo {
        display: flex;
        margin-left: auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 0.4rem;

        color: #4743FF;

        border: 1px solid #4743FF;
        background-color: transparent;
        border-radius: 6px;
      }

      .button-ver-conteudo:hover {
        cursor: pointer;
        filter: brightness(0.8);
        transition: filter 0.3s;
      }
    }

    .carrossel-title {
      margin-left: 2rem;
      font-weight: bold;
    }

    .carrossel-subtitle {
      color: #7183A6;
      margin-left: 2rem;
    }

    .carrossel-flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem 2rem;
      .link{
        color: #354564;
        text-decoration: none;
      .block-design {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        margin: 1rem;

        .image-carrossel {
          max-width: 150px;
          object-fit: cover;
        }

        p {
          font-weight: bold;
          font-size: 0.8rem;
        }
      }
    }
    a:hover {
      color: #0095FF;
      text-decoration: none;
    }
    // a:visited {
    //   color: #0095FF;
    // }
    }
  }
}